[Unit]
Description=Run script to grab today's NYT crossword when establishing an internet connection
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/root/remarkable-daily-pdf
Type=exec
ExecStart=/home/root/remarkable-daily-pdf/rm-sync-nyt
