[Unit]
Description=Grab NYT crossword once per day, starting attempts after 2am

[Timer]
OnCalendar=*-*-* 2:00:00
Persistent=true

[Install]
WantedBy=timers.target
